In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

from fastai.structured import *
from fastai.column_data import *

In [2]:
PATH = 'data/predict_future_sales/'

In [4]:
!ls {PATH}

item_categories.csv  sales_train.csv	    shops.csv
items.csv	     sample_submission.csv  test.csv

In [6]:
item_cat = pd.read_csv(f'{PATH}/item_categories.csv')
sales_train = pd.read_csv(f'{PATH}/sales_train.csv', parse_dates=['date'])
shops = pd.read_csv(f'{PATH}/shops.csv')
test = pd.read_csv(f'{PATH}/test.csv')
items = pd.read_csv(f'{PATH}/items.csv')

In [7]:
sales_train.head().T

,0,1,2,3,4
date,2013-02-01 00:00:00,2013-03-01 00:00:00,2013-05-01 00:00:00,2013-06-01 00:00:00,2013-01-15 00:00:00
date_block_num,0,0,0,0,0
shop_id,59,25,25,25,25
item_id,22154,2552,2552,2554,2555
item_price,999,899,899,1709.05,1099
item_cnt_day,1,1,-1,1,1

In [8]:
items.head().T

,0,1,2,3,4
item_name,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,!ABBYY FineReader 12 Professional Edition Full...,***В ЛУЧАХ СЛАВЫ (UNV) D,***ГОЛУБАЯ ВОЛНА (Univ) D,***КОРОБКА (СТЕКЛО) D
item_id,0,1,2,3,4
item_category_id,40,76,40,40,40

In [12]:
joined = sales_train.merge(items, on='item_id')

In [13]:
joined.head().T

,0,1,2,3,4
date,2013-02-01 00:00:00,2013-01-23 00:00:00,2013-01-20 00:00:00,2013-02-01 00:00:00,2013-03-01 00:00:00
date_block_num,0,0,0,0,0
shop_id,59,24,27,25,25
item_id,22154,22154,22154,22154,22154
item_price,999,999,999,999,999
item_cnt_day,1,1,1,1,1
item_name,ЯВЛЕНИЕ 2012 (BD),ЯВЛЕНИЕ 2012 (BD),ЯВЛЕНИЕ 2012 (BD),ЯВЛЕНИЕ 2012 (BD),ЯВЛЕНИЕ 2012 (BD)
item_category_id,37,37,37,37,37

In [14]:
len(joined), len(sales_train)

(2935849, 2935849)

In [15]:
item_cat.head().T

,0,1,2,3,4
item_category_name,PC - Гарнитуры/Наушники,Аксессуары - PS2,Аксессуары - PS3,Аксессуары - PS4,Аксессуары - PSP
item_category_id,0,1,2,3,4

In [16]:
joined = joined.merge(item_cat, on='item_category_id')

In [17]:
len(joined), len(sales_train)

(2935849, 2935849)

In [22]:
joined.head().T

,0,1,2,3,4
date,2013-02-01 00:00:00,2013-04-26 00:00:00,2013-06-26 00:00:00,2013-07-20 00:00:00,2013-09-14 00:00:00
date_block_num,0,3,5,6,8
shop_id,59,59,59,59,59
item_id,22154,944,944,944,944
item_price,999,150,199.5,199.5,299
item_cnt_day,1,1,1,1,2
item_name,ЯВЛЕНИЕ 2012 (BD),2012 (BD),2012 (BD),2012 (BD),2012 (BD)
item_category_id,37,37,37,37,37
item_category_name,Кино - Blu-Ray,Кино - Blu-Ray,Кино - Blu-Ray,Кино - Blu-Ray,Кино - Blu-Ray
shop_name,"Ярославль ТЦ ""Альтаир""","Ярославль ТЦ ""Альтаир""","Ярославль ТЦ ""Альтаир""","Ярославль ТЦ ""Альтаир""","Ярославль ТЦ ""Альтаир"""

In [20]:
shops.head().T

,0,1,2,3,4
shop_name,"!Якутск Орджоникидзе, 56 фран","!Якутск ТЦ ""Центральный"" фран","Адыгея ТЦ ""Мега""","Балашиха ТРК ""Октябрь-Киномир""","Волжский ТЦ ""Волга Молл"""
shop_id,0,1,2,3,4

In [21]:
joined = joined.merge(shops, on='shop_id'); len(joined)

2935849

In [23]:
train_cats(joined)

In [28]:
joined.shop_name.cat.codes

0          59
1          59
2          59
3          59
4          59
5          59
6          59
7          59
8          59
9          59
10         59
11         59
12         59
13         59
14         59
15         59
16         59
17         59
18         59
19         59
20         59
21         59
22         59
23         59
24         59
25         59
26         59
27         59
28         59
29         59
           ..
2935819    55
2935820    55
2935821    55
2935822    55
2935823    55
2935824    55
2935825    55
2935826    55
2935827    55
2935828    55
2935829    55
2935830    55
2935831    55
2935832    55
2935833    55
2935834    55
2935835    55
2935836    55
2935837    55
2935838    55
2935839    55
2935840    55
2935841    55
2935842    55
2935843    55
2935844    55
2935845    55
2935846    55
2935847    55
2935848    55
Length: 2935849, dtype: int8

In [31]:
joined.to_feather(f'{PATH}/raw')

In [32]:
len(joined); joined = joined[joined.date < '2015-11-1']; len(joined)

2896782

In [34]:
joined = joined.sort_index(by='date')

/home/alex/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

In [ ]:
def calc_cnt_month(df):
    df['item_cnt_month'] = df.item_cnt_day.sum()
    df['item_price_month'] = df.item_price.mean()
    return df

joined = joined.groupby(['shop_id', 'item_id', 'date_block_num']).apply(calc_cnt_month)